-#
  / Este es el panel inferior para añadir nuevas grabaciones
  / De cara al usuario las grabaciones tendran:
  /  - La propia grabacion
  /  - Tags
  /  - Mensaje (opcional)
  / _________________________________________________________
  / | __________ _________________________________________  |
  / | |        | |                Mensaje                |  |
  / | | New    | |                                       |  |
  / | | Record | +---------------------------------------+  |
  / | |        |                                            |
  / | ---------+ |Tags||Tags||Tags||Tags||Tags||Tags||Tags| |
  / +-------------------------------------------------------+

-# Multipart (documentacion)
= form_for(pnsq, :multipart => true, :remote => true, :format => [:js]) do |f|
  %table.new_pnsq_panel
    %tr
      %td.record
        .record_button#pnsq_microphone
          %i.icon-microphone
        %a#audio-file{:style => 'display:inline-block;', :href => '#'}
        = text_field_tag 'pnsq[user_id]', current_user.id , :style => 'display: none'
      %td.text
        .text_wrapper
          = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text to your PnsQ...'

        - if defined?(to_user)
          = text_field_tag 'pnsq[to_user_id]', to_user.id , :style => 'display: none'

  :javascript
    // Inicia la recogida de Audio
    init_record_audio();
    $('#pnsq_microphone').click(function() {
      if ($(this).hasClass('recording')) {
        stop_record_audio('new_pnsq', "#{current_user.id}");
        
        $('#pnsq_microphone').removeClass("recording");
        prepare_for_modal_info('Creating PnsQ. Please, wait..');
        show_modal_info();

      } else {
        $('#pnsq_microphone').addClass("recording")
        start_record_audio();
      }
    });
