-# Documentacion (HTML Audio/Video Properties) http://www.w3schools.com/tags/ref_av_dom.asp

-#El color de fondo variará dependiendo del tipo de música que suene en el monento en que se grabó
- if defined?(pnsq)
  %div.psnq_box{:id => "pnsq_#{pnsq.id}_#{pnsq.user.id}", :class => defined?(new_pnsq) ? 'new' : nil}
    %table{:style => "background-color: #{color(pnsq)}"}
      %tr
        %td.avatar{:style => "background-image: url('#{pnsq.user.avatar.url(:cmedium)}'); "}
          .audio-controls{:id => "play_#{pnsq.id}_#{pnsq.user.id}"}
            .icon-play
            .duration{:id => "duration_#{pnsq.id}_#{pnsq.user.id}"}
        
        %td.text
          =pnsq.text
          .date="Grabado en #{pnsq.created_at.to_formatted_s(:long)}"
      
      %tr
        %td.user_name
          =link_to(pnsq.user.nick, user_nick_path(pnsq.user.nick))
        %td.tags
          - if !pnsq.tags.blank?
            - for tag in pnsq.tags
              .tag_text=tag.name

        %audio.pnsq{:id => "audio_#{pnsq.id}_#{pnsq.user.id}", :style => 'display:none; opacity: 0; '}
          %source{:src => pnsq.audio.url(:original), :type => pnsq.audio.content_type}
    .expander{:id => "expand_#{pnsq.id}_#{pnsq.user.id}"}="+"
    
  :javascript
    $("#expand_#{pnsq.id}_#{pnsq.user.id}").click(function() { 
      ($(this).text() == "+") ? $(this).text("-") : $(this).text("+")
      $(this).parent().toggleClass("expand")
    });
    function playPnsq(audio_id) {
      audio_id.get(0).play();
    }
    setTimeout( function() {
      duration = parseInt($("#audio_#{pnsq.id}_#{pnsq.user.id}").get(0).duration) + "\""
      if (duration == "NaN\"") {duration = "-"}
      $("#duration_#{pnsq.id}_#{pnsq.user.id}").text(duration);
    }, 1000 );
    $("#play_#{pnsq.id}_#{pnsq.user.id}").click(function() { 
      playPnsq($("#audio_#{pnsq.id}_#{pnsq.user.id}"))
    });

- else
  ="Sin Pnsq"