.window_header
  %h2="Cambiar contraseña"
.content_in_holder{:style => 'padding-bottom: 10px;'}
  .text-center
    = form_for(:user, url: update_password_user_path(user.id), :html => {:style => 'margin: 0px; padding: 10px 0 30px 0;'}, :method => :put) do |f|
      
      = password_field_tag :password, nil, :required => true, :class => 'default_field'

      = f.submit '', :style => 'display:none', :required => true, :id => "change_password_#{user.id}", :data => {:confirm => '¿Estás seguro?'}

    = link_to('Guardar', '', :class => 'landing_button edit_form', :onclick => "$('#change_password_#{user.id}').click();", :remote => true)

