.window_header
  %h2="Change Password"
.content_in_holder{:style => 'padding-bottom: 10px;'}
  .sub_title="Enter a new password to change:"
  .text-center
    = form_for(:user, url: update_password_user_path(user.id), :html => {:style => 'margin: 0px; padding-bottom: 30px;'}, :method => :put) do |f|
      
      = password_field_tag :password, nil, :required => true, :class => 'default_field'

      = f.submit '', :style => 'display:none', :id => "change_password_#{user.id}", :data => {:confirm => 'Are you sure?'}

    = link_to('Save', '', :class => 'landing_button edit_form', :onclick => "$('#change_password_#{user.id}').click();", :remote => true)

