#user_container
  .user_block
    -#La idea es que aquí vaya informacion del usuario (Foto y Nombre)
    .name_user_block
      .user_row
        - if current_user.blank?
          ="Hi, Unknown! I caught you"
        - else 
          .user_row_principal_text="#{current_user.nick.capitalize}"
          .connections_panel
            .follow="#{current_user.followers} Followers"
            .follow="#{current_user.following} Following"


    .information_block
      -# Last
      .pnsq_column{:style => 'text-align: left;'}
        -#Provisional
        - for mt in 2.times
          = render :partial => 'pnsq/pnsq_box'

      .pnsq_column{:style => 'float: right;'}
        -#Provisional
        - for mt in 2.times
          = render :partial => 'pnsq/pnsq_box'


    -#
      / Este es el panel inferior para añadir nuevas grabaciones
      / De cara al usuario las grabaciones tendran:
      /  - La propia grabacion
      /  - Tags
      /  - Mensaje (opcional)
      / _________________________________________________________
      / | __________ _________________________________________  |
      / | |        | |                Mensaje                |  |
      / | | New    | |                                       |  |
      / | | Record | +---------------------------------------+  |
      / | |        |                                            |
      / | ---------+ |Tags||Tags||Tags||Tags||Tags||Tags||Tags| |
      / +-------------------------------------------------------+

    
    = render :partial => 'pnsq/maker_pnsq', :locals => {:pnsq => @pnsq}