#user_container
  .user_block
    .name_user_block
      .user_row
        %table.user_row_info
          %tr
            %td.user_row_avatar
              =image_tag(current_user.avatar.url(:icon))
            %td.user_row_name
              =current_user.nick.capitalize
            %td.connections_panel
              =link_to("#{current_user.followers_count} Followers", relations_in_holder_user_path(current_user.id, :role => 'followers'), :remote => true)
              =link_to("#{current_user.following_count} Following", relations_in_holder_user_path(current_user.id, :role => 'following'), :remote => true)
          %tr
            %td
            %td.user_row_bio
              =current_user.bio.capitalize
            %td
          %tr
            %td
            %td.user_row_bio
              ="Texto para Tastes"
            %td

    .information_block
      -# Last
      .pnsq_column{:style => 'width: 100%; text-align: left;'}
        -#Provisional
        .pnsq_hollow#new_pnsq_hollow
        - for pnsq in Pnsq.order('id DESC')
          = render :partial => 'pnsqs/pnsq_box', :locals => {:pnsq => pnsq} 

      -#.pnsq_column{:style => 'float: right;'}
        -#Provisional
        - for mt in 2.times
          = render :partial => 'pnsqs/pnsq_box'


    -#
      / Este es el panel inferior para añadir nuevas grabaciones
      / De cara al usuario las grabaciones tendran:
      /  - La propia grabacion
      /  - Tags
      /  - Mensaje (opcional)
      / _________________________________________________________
      / | __________ _________________________________________  |
      / | |        | |                Mensaje                |  |
      / | | New    | |                                       |  |
      / | | Record | +---------------------------------------+  |
      / | |        |                                            |
      / | ---------+ |Tags||Tags||Tags||Tags||Tags||Tags||Tags| |
      / +-------------------------------------------------------+

    
    = render :partial => 'pnsqs/maker_pnsq', :locals => {:pnsq => @pnsq}
