#user_container
  .user_block
    .name_user_block
      .user_row
        - if current_user.blank?
          ="Hi, Unknown! I caught you"
        - else 
          .user_row_principal_text="#{current_user.nick.capitalize}"
          .connections_panel
            .follow="#{current_user.followers_count} Followers"
            .follow="#{current_user.following_count} Following"

    .information_block
      -# Last
      .pnsq_column{:style => 'width: 100%; text-align: left;'}
        -#Provisional
        .pnsq_hollow#new_pnsq_hollow
        - for pnsq in Pnsq.order('id ASC')
          = render :partial => 'pnsqs/pnsq_box', :locals => {:pnsq => pnsq} 

      -#.pnsq_column{:style => 'float: right;'}
        -#Provisional
        - for mt in 2.times
          = render :partial => 'pnsqs/pnsq_box'


    -#
      / Este es el panel inferior para añadir nuevas grabaciones
      / De cara al usuario las grabaciones tendran:
      /  - La propia grabacion
      /  - Tags
      /  - Mensaje (opcional)
      / _________________________________________________________
      / | __________ _________________________________________  |
      / | |        | |                Mensaje                |  |
      / | | New    | |                                       |  |
      / | | Record | +---------------------------------------+  |
      / | |        |                                            |
      / | ---------+ |Tags||Tags||Tags||Tags||Tags||Tags||Tags| |
      / +-------------------------------------------------------+

    
    = render :partial => 'pnsqs/maker_pnsq', :locals => {:pnsq => @pnsq}
