#user_container
  .user_block
    / La idea es que aquí vaya informacion del usuario (Foto y Nombre)
    .name_user_block
      .user_row
        - if current_user.blank?
          ="Hi, Unknown! I caught you"
        - else 
          .user_row_principal_text="#{current_user.nick.capitalize}"
          .connections_panel
            .follow="#{current_user.followers} Followers"
            .follow="#{current_user.following} Following"
          .tools_panel
            %i.icon-inbox{:title => 'Answering'}

    .information_block
      -# Last
      .pnsq_column{:style => 'text-align: left;'}
        -#Provisional
        - for mt in 15.times
          = render :partial => 'pnsq/pnsq_box'

      - if false
        -# Discover/Top
        .middle_zone
          .vl

      .pnsq_column{:style => 'float: right;'}
        -#Provisional
        - for mt in 15.times
          = render :partial => 'pnsq/pnsq_box'


    / Este es el panel inferior para añadir nuevas grabaciones
    / De cara al usuario las grabaciones tendran:
    /  - La propia grabacion
    /  - Tags
    /  - Mensaje (opcional)
    / _____________________________________________________
    / | _________ ______________________________________   |
    / | | New   | |               Mensaje               |  |
    / | |       | |                                     |  |
    / | |Record | ---------------------------------------  |
    / | |       |                                          |
    / | --------- |Tags||Tags||Tags||Tags||Tags||Tags||Tags|
    / ------------------------------------------------------

    
    -#= render :partial => 'pnsq/maker_pnsq', :locals => {:pnsq => @pnsq}
- if false
  #footer_users
    .footer_link="About"
    .footer_link="|"
    .footer_link="Contact "
