%tr{:class => its_me?(pnsq.user) ? "owner" : nil, :id => "personal_pnsq_#{pnsq.id}_#{pnsq.user.id}"}
  %td.avatar
    .background-avatar{:style => "background-image: url('#{pnsq.user.avatar.url(:cmedium)}'); "}
      .audio-controls
        .icon-play{:id => "personal_pnsq_play_#{pnsq.id}_#{pnsq.user.id}"}
        .duration{:id => "personal_pnsq_duration_#{pnsq.id}_#{pnsq.user.id}"}="-"
  %td.description
    =link_to(its_me?(pnsq.user) ? 'I' : pnsq.user.nick, user_nick_path(pnsq.user.nick))
    .date="recorded on #{pnsq.created_at.to_formatted_s(:long)}"
    .description-text=pnsq.text

    %audio{:controls => '', :id => "personal_pnsq_audio_#{pnsq.id}_#{pnsq.user.id}", :style => 'display:none'}
      %source{:src => pnsq.audio.url(:original), :type => pnsq.audio.content_type}

  %td.actions{:id => "personal_pnsq_reply_#{pnsq.id}_#{pnsq.user.id}", :class => its_me?(pnsq.user) ? 'disabled' : nil, :title => its_me?(pnsq.user) ? nil : "Reply #{pnsq.user.nick}"}
    %i.icon-reply

  :javascript
    function playPnsq(audio_id) {
      audio_id.get(0).play();
    }
    $("#personal_pnsq_play_#{pnsq.id}_#{pnsq.user.id}").click(function() { 
      playPnsq($("#personal_pnsq_audio_#{pnsq.id}_#{pnsq.user.id}"))
    });
    setTimeout( function() {
      $("#personal_pnsq_duration_#{pnsq.id}_#{pnsq.user.id}").text(parseInt($("#personal_pnsq_audio_#{pnsq.id}_#{pnsq.user.id}").get(0).duration) + "\"")
    }, 500 );

  - if !its_me?(pnsq.user)
    :javascript
      $("#personal_pnsq_reply_#{pnsq.id}_#{pnsq.user.id}").click(function() { 
        $.getScript("#{new_personal_pnsq_in_holder_user_path(pnsq.user.id)}")
      });
