.user_row
  %table.user_row_info
    %tr
      %td.user_row_avatar
        =image_tag(user.avatar.url(:icon))
      %td.user_row_name
        =user.nick.capitalize
        - if !its_me?(user)
          = render :partial => 'relations/follow', :locals => {:user => user, :relation => relation} 
      %td.connections_panel
        =link_to(relations_in_holder_user_path(user.id, :role => 'followers'), :remote => true) do
          .relation_title= "Seguidores"
          .relation_number= user.followers_count

        =link_to(relations_in_holder_user_path(user.id, :role => 'following'), :remote => true) do
          .relation_title= "Siguiendo"
          .relation_number= user.following_count

    %tr
      %td
      %td.user_row_bio
        =user.bio.capitalize
      %td
    %tr
      %td
      %td.user_row_bio
        = pretty_tastes(user)
      %td.personal_pnsq
        - if !its_me?(user)
          = link_to('', :remote => true) do
            %i.icon-comments
            =link_to("Envía un mensaje personal", new_personal_pnsq_in_holder_user_path(user), :remote => true)