#user_container
  .user_settings_block
    .title_section="Settings"
    .information_block
      = form_for @user do |f|
        %table
          %tr.field
            %td= f.label :email
            %td= f.text_field :email, :class => 'default_field'
          %tr.field
            %td= f.label :password
            %td= f.password_field :password, :class => 'default_field'
          %tr.field
            %td= f.label :nick
            %td= f.text_field :nick, :class => 'default_field'
          %tr.actions
            %td{:colspan => 2}
              %div{:style => 'padding-top: 20px; text-align:center;'}
                = link_to("Enter", "", :class => 'landing_button edit_form', :onclick => "$('#save_edit_#{@user.id}').click()", :remote => true)
                ="or"  
                = link_to 'Cancel', users_path
                = f.submit '', :style => 'display:none', :id => "save_edit_#{@user.id}"
    
#footer_users
  .footer_link="About"
  .footer_link="|"
  .footer_link="Contact "
