-#Lo suyo sería añadir mas tastes: country, hip-hop....

#user_container
  .user_settings_block
    .title_section="Opciones"
    .information_block
      = form_for @user, :html => {:id => "edit_user"} do |f|
        %div{:style => 'display:inline-block; width: 360px; margin-right:60px;'}
          .avatar_block
            .avatar_img{:style => "background-image: url(#{@user.avatar.url(:cmedium)})", :id => 'wrapper_user_avatar'}
              =image_tag('',:id => 'avatar_img')
            .avatar_change
              =(f.file_field :avatar, :style => 'display:none', :id => "file_field_avatar_for_#{@user.id}")

              :javascript
                $("#file_field_avatar_for_#{@user.id}").change(function(){
                  readURL(this, $('#avatar_img'));
                  $('#avatar_img').show();
                  $('#wrapper_user_avatar').css('background', 'none').css('box-shadow','none').css('border-color', 'transparent');
                });
                
              %a{:class => 'normal_link', :onclick => "$('#file_field_avatar_for_#{@user.id}').click();"}='Cambia tu avatar'
          %table
            %tr.field
              %td.label= f.label :nombre
              %td.default_field_td
                = f.text_field :name, :class => 'default_field', :style => 'width:143px;'
                = f.text_field :surname, :class => 'default_field', :style => 'width: 148px'
            %tr.field
              %td.label= f.label :nick
              %td.default_field_td= f.text_field :nick, :required => true, :class => 'default_field'
            %tr.field
              %td.label= f.label :email
              %td.default_field_td= f.text_field :email, :required => true, :class => 'default_field'
            %tr.field
              %td.label= f.label :bio
              %td.default_field_td= f.text_area :bio, :class => 'default_field'
            %tr.field
              %td
              %td
                =link_to("Cambiar Contraseña", change_password_in_holder_user_path(@user.id), :remote => true)
            %tr.actions
              %td{:colspan => 2}
                %div{:style => 'padding-top: 40px; text-align:right;'}
                  = link_to("Guardar", "", :class => 'landing_button edit_form', :onclick => "$('#save_edit_#{@user.id}').click();", :remote => true)
                  = f.submit '', :style => 'display:none', :id => "save_edit_#{@user.id}"

        .edit_musical_tastes
          = render :partial => 'users/edit_musical_tates', :locals => {:user => @user, :f => f}
    :javascript
      $('#edit_user').submit(function() {
        prepare_for_modal_loading('Guardando cambios...');
      })
#footer_users