#user_container
  .user_block
    .name_user_block
      .user_row
        =image_tag(@user.avatar.url(:icon), :class => 'user_row_avatar')
        .user_row_principal_text="#{@user.nick.capitalize}"

        = render :partial => 'relations/follow', :locals => {:user => @user, :relation => @relation} 

        .connections_panel
          .follow="#{@user.followers_count} Followers"
          .follow="#{@user.following_count} Following"

    .information_block
      - if !@pnsqs.blank?
        - for pnsq in @pnsqs
          = render :partial => 'pnsq/pnsq_box', :locals => {:pnsq => pnsq} 
      - else
        .not_pnsq="Not Pnsqs Yet" 