.header
	PiensaQue

#background_lading
#container
	.block
		.landing_main_block
			.landing_info_block
				.langing_info_block_level_2
					.landing_info_text="What is the"
					.landing_info_text_important="thinking"
					.landing_info_text="of my contacts?"
			.langing_login_block
				.langing_login_block_level_2
					= text_field_tag :email_or_nick, nil, :placeholder => 'Email or nick', :style => 'width: 100%'
					= text_field_tag :pass, nil, :placeholder => 'Password', :style => 'width: 100%'
					.landing_zone_button
						= link_to("Enter", "", :class => 'landing_button landing_enter')
						= link_to('Or request an invitation', request_invitation_path, :class => 'normal_link', :remote => true)
		.invitation_request
			= render :partial => 'application/request_invitation'
#footer_landing
	.footer_link="About"
	.footer_link="|"
	.footer_link="Contact "


