- maxTags = 3

= form_for pnsq do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button#pnsq_microphone
        %i.icon-microphone
      -#En content es donde se clava el audio

      %content{:style => 'display:none'}

      %audio#audio_content{:controls => true, :style => 'display: none'}
        %source#source_content{:src => ''}
        
      .right_zone 
        .text_wrapper
          = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

        - for mt in maxTags.times
          = f.fields_for @tag do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => 'tag_#{mt}')

    %div{:id => 'stop_record', :style => 'cursor:pointer;'}="Stop record"
    %div{:id => 'pause_record', :style => 'cursor:pointer;'}="Pause record"

  :javascript
    $('#pnsq_microphone').click(function() {
      hasGetUserMedia();
      if (pnsq.mozSrcObject == null) {
        $('#pnsq_microphone').addClass("recording")
        start_record_audio();
      } else {
        stop_record_audio();
        $('#pnsq_microphone').removeClass("recording")
      }

    });

    $('#stop_record').click(function() {
      stop_record_audio();
    });

    $('#pause_record').click(function() {
      pause_record_audio();
    });