-maxTags = 3

= form_for pnsq do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button
        %i.icon-microphone
      .right_zone 
        .text_wrapper
          = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

        - for mt in maxTags.times
          = f.fields_for @tag do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => 'tag_#{mt}')