-# Multipart (documentacion)
= form_for(pnsq, :multipart => true) do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button#pnsq_microphone
        %i.icon-microphone

      %content
        %a#audio-file{:style => 'display:inline-block;', :href => '#'}

        .right_zone 
          .text_wrapper
            = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

          
          = f.fields_for :tags do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => "tag")
    
    -#=f.submit

  :javascript
    // Inicia la recogida de Audio
    window.addEventListener('load', init_record_audio );
    $('#pnsq_microphone').click(function() {
      if ($(this).hasClass('recording')) {
        stop_record_audio('new_pnsq', "#{current_user.id}");

        $('#pnsq_microphone').removeClass("recording");  
      } else {
        $('#pnsq_microphone').addClass("recording")
        start_record_audio();
      }
    });
