-maxTags = 3
-#En content es donde se clava el audio
#content
= form_for pnsq do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button#pnsq_microphone
        %i.icon-microphone
      .right_zone 
        .text_wrapper
          = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

        - for mt in maxTags.times
          = f.fields_for @tag do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => 'tag_#{mt}')

    %div{:id => 'stop_record', :style => 'cursor:pointer;'}="Stop record"

  :javascript
    $('#pnsq_microphone').click(function() {
      hasGetUserMedia();
      start_record_audio();
    });

    $('#stop_record').click(function() {
      stop_record_audio();
    });