#user_container
  .user_settings_block
    .title_section="New Music"
    =form_for @music do |f|
      %table      
        %tr.field
          %td.label= f.label :song
          %td.default_field_td= f.file_field :song, :class => 'default_field'
        %tr.field
          %td.label= f.label :cover
          %td.default_field_td= f.file_field :cover, :class => 'default_field'
        %tr.field
          %td.label= f.label :title
          %td.default_field_td= f.text_field :title, :class => 'default_field'
        %tr.field
          %td.label= f.label :artist
          %td.default_field_td= f.file_field  :artist, :class => 'default_field'
        %tr.field
          %td.label= f.label :album
          %td.default_field_td= f.text_field :album, :class => 'default_field'
        %tr.field
          %td.label= f.label :genre
          %td.default_field_td= f.text_field :genre, :class => 'default_field'
        %tr.field
          %td.default_field_td{:colspan => 2, :style => 'border-top: 10px solid transparent; text-align: center;'}= f.submit(:class => 'default_submit', :style => 'background-color: #CCCCCC; height: 50px; font-size: 30px; width: 70%')