%table
  %tr.title.user
    %td.checkbox
    %td.checkbox="ID"
    %td.text="Nick"
    %td.text="Name"
    %td.text="Surname"
    %td.text="Email"
    %td.text="Rank"
    %td.checkbox="Rock?"
    %td.checkbox="Pop?"
    %td.checkbox="Elect?"
    %td.checkbox="Instr?"
    %td.checkbox="Jazz?"
  - for user in User.all
    = form_for(user, :remote => true) do |f|
      %tr.users
        %td.checkbox=image_tag(user.avatar.url)
        %td.checkbox=user.id
        %td.text=f.text_field :nick, :id => "nick_#{user.id}"
        %td.text=f.text_field :name, :id => "name_#{user.id}"
        %td.text=f.text_field :surname, :id => "surname_#{user.id}"
        %td.text=f.text_field :email, :id => "email_#{user.id}"
        %td.text=f.text_field :rank, :id => "rank_#{user.id}"
        %td.checkbox=f.check_box :mt_rock, :id => "mt_rock_#{user.id}"
        %td.checkbox=f.check_box :mt_pop, :id => "mt_pop_#{user.id}"
        %td.checkbox=f.check_box :mt_electronic, :id => "mt_electronic_#{user.id}"
        %td.checkbox=f.check_box :mt_instrumental, :id => "mt_instrumental_#{user.id}"
        %td.checkbox=f.check_box :mt_jazz, :id => "mt_jazz_#{user.id}"
        %td= f.submit 'U', :style => '', :class => 'submit_admin',:id => "save_#{user.id}"
      
      :javascript
        $('#target').keyup(function() {
          alert('Handler for .keyup() called.');
        });