%table
  %tr.title.user
    %td="ID"
    %td="Nick"
    %td="Name"
    %td="Surname"
    %td="Email"
    %td="Rank"
    %td="Rock?"
    %td="Pop?"
    %td="Elect?"
    %td="Instr?"
    %td="Jazz?"
  - for user in User.all
    = form_for user do |f|
      %tr.users
        %td=user.id
        %td=f.text_field :nick, :id => "nick_#{user.id}"
        %td=f.text_field :name, :id => "name_#{user.id}"
        %td=f.text_field :surname, :id => "surname_#{user.id}"
        %td=f.text_field :email, :id => "email_#{user.id}"
        %td=f.text_field :rank, :id => "rank_#{user.id}"
        %td=f.check_box :mt_rock, :id => "mt_rock_#{user.id}"
        %td=f.check_box :mt_pop, :id => "mt_pop_#{user.id}"
        %td=f.check_box :mt_electronic, :id => "mt_electronic_#{user.id}"
        %td=f.check_box :mt_instrumental, :id => "mt_instrumental_#{user.id}"
        %td=f.check_box :mt_jazz, :id => "mt_jazz_#{user.id}"
        %td= f.submit 'E', :style => '', :class => 'submit_admin',:id => "save_#{user.id}"
      
      :javascript
        $('#target').keyup(function() {
          alert('Handler for .keyup() called.');
        });