#user_container{:style => 'width: 100%;'}
  .title_section.center{:style => 'padding: 5px;'}="Welcome to Admin Panel"
  .information_block
    .application_admin_panel
      -#User
      %h1.title_panel{:onclick => "slidePanel($('#panel_users'))"}
        ="Users (#{User.all.count})"
        =link_to('+', new_user_path)
      #panel_users

      dasdas
        = render :partial => 'application/panel_users'

      -#Invitations
      %h1.title_panel{:onclick => "slidePanel($('#panel_invitations'))"}
        ="Invitation (#{RequestInvitation.all.count})"
      #panel_invitations{:style => 'display:none'}
        = render :partial => 'application/panel_invitations'

      -#Music
        %h1.title_panel
          %div{:style => 'display: inline;', :onclick => "slidePanel($('#panel_musics'))"}="Musics(#{Music.all.count})"
          =link_to('+', new_music_path)
        #panel_musics{:style => 'display:none'}
          = render :partial => 'application/panel_music'

      -#Pnsqs
      %h1.title_panel{:onclick => "slidePanel($('#panel_pnsqs'))"}
        ="PnsQs(#{Pnsq.publics.count}) - Privates (#{Pnsq.privates.count})"
      #panel_pnsqs{:style => 'display:none'}
        = render :partial => 'application/panel_pnsq'

      -#Tags
        %h1.title_panel{:onclick => "slidePanel($('#panel_tag'))"}
          ="Tags(#{Tag.all.count})"
        #panel_tag{:style => 'display:none'}
          =Tag.all

  :javascript
    function slidePanel(id) {
      id.slideToggle();
    }