%html{:itemscope => "itemscope", :itemtype => "http://schema.org/WebPage"}
  %head
    %title PiensaQue
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
  %body
    = render :partial => 'application/header'
    = yield
    #place_for_window_in_holder
    #place_for_window_in_holder_info